*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

header::after{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.05);
}

.head-img{
    position: absolute;
    height: 100vh;
    width: 100%;
}

nav{
    position: absolute;
    text-align: right;
    width: 100%;
    padding: 2rem 0;
    z-index: 30;
    background: linear-gradient(to bottom,rgba(0,0,0,0.05), transparent);
}

#home-nav, #about-nav, #discover-nav, #contact-nav{
    margin-right: 50px;
    text-decoration: none;
    color: #F6F4EB;
}

#about-nav{
    padding: 10px;
    border: 1px solid #4490b8;
    border-radius: 30px;
    background-color: #4490b8;
}
#home-nav:hover, #discover-nav:hover, #contact-nav:hover{
    padding: 10px;
    border: 1px solid #4490b8;
    border-radius: 30px;
    background-color: #4490b8;
}

.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    width: 100%;
    top: 40%;
    text-align: left;
    padding-left: 15%;
    font-size: 7em;
    font-weight: 600;
    color: #fff;
}

.nav-section{
    position: absolute;
    z-index: 30;
    top: 63%;
    text-align: left;
    margin-left: 15%;
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px;
    border-radius: 30px;
    background-color: #fff;
}

.nav-project, .nav-team, .nav-funding{
    padding: 10px;
    border-radius: 30px;
}

.nav-project:hover, .nav-team:hover, .nav-funding:hover{
    padding: 10px;
    background-color: #4490b8;
}

.navigation {
    display: none;
    float: right;
}


 .dropdown a{
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 1.1em;
}

.dropdown button{
    padding: 10px;
    border-radius: 30px;
    margin-right: 20px;
}

.dropdown .ddcontent{
    width: 150px;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
    display: none;
    margin-right: 10px;
}

.dropdown:hover .ddcontent{
    display: block;
}

.dropdown a:hover{
    background-color: #cfd8de;
}

.dropdown{
    display: inline-block;
}

section{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
}

section .container1{
    width: 100%;
    height: 100%;
    padding: 15%;
    color: #fff;
    overflow: scroll;
}

p{
    font-size: 1.2em;
    padding-top: 25px;
}

.title{
    font-size:4em;
}

.sub-title{
    font-size: 2.5em;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

a{
    text-decoration: none;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background:#fff;
    overflow: hidden;
}

.img-container .images img{
max-width: 350px;
margin: 0 30px;
}


.container2{
    width: 100%;
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

.container2 div{
    margin-top: 20px;
}

.img-container2{
    width: 100%;
}

.img-container2 img{
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.container3{
    padding: 15%;
}

footer{
    text-align: center;
    background-color: #F6F4EB;
    padding: 20px;
    display: block;
    clear: both;
}

@media screen and (max-width:600px) {
    body{
        width: 100%;
    }

    .navigation {
        display: flex;
    }

    .menu{
        display: none;
    }

    nav a{
        margin: 5px 0;
    }
}