*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header::after{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.05);
}

.beach{
    position: absolute;
    height: 100vh;
    width: 100%;
}

nav{
    position: absolute;
    text-align: right;
    width: 100%;
    padding: 2rem 0;
    z-index: 30;
    background: linear-gradient(to bottom,rgba(0,0,0,0.05), transparent);
}

#home-nav, #about-nav, #discover-nav, #contact-nav{
    margin-right: 50px;
    text-decoration: none;
    color: #F6F4EB;
}

#home-nav{
    padding: 10px;
    border: 1px solid #4490b8;
    border-radius: 30px;
    background-color: #4490b8;
}
#about-nav:hover, #discover-nav:hover, #contact-nav:hover{
    padding: 10px;
    border: 1px solid #4490b8;
    border-radius: 30px;
    background-color: #4490b8;
}

.navigation {
    display: none;
    float: right;
}


 .dropdown a{
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 1.1em;
}

.dropdown button{
    padding: 10px;
    border-radius: 30px;
    margin-right: 20px;
}

.dropdown .ddcontent{
    width: 150px;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
    display: none;
    margin-right: 10px;
}

.dropdown:hover .ddcontent{
    display: block;
}

.dropdown a:hover{
    background-color: #cfd8de;
}

.dropdown{
    display: inline-block;
}

.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 7em;
    font-weight: 600;
    color: #fff;
}


section{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
}

section .container1{
    width: 100%;
    padding: 15%;
    color: #fff;
}

p{
    font-size: 1.2em;
    padding-top: 25px;
}

.title{
    font-size:4em;
}

.sub-title{
    font-size: 2.5em;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.stories-intro{
    color: #151515;
    background-color: #fff;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
}


.hangzhou, .qingdao, .rizhao, .shanghai{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    flex-direction: row;
    column-gap: 100px;
}

.box1 {
    width: 50%;
    height: 350px;
    text-align: justify;
    justify-items: center;
}
.box2 {
    height: 350px;
    width: 50%;
    text-align: justify;
}

img{
    height: 100%;
}

.img-container{
    width: 100%;
    height: 100%;
}

.img-container img{
    width: 100%;
    height: 100%;
    position: static;
}

.project{
    width: 100%;
    padding: 15%;
    background-color: #fff;
}

.container3 .text{
    text-align: justify;
}

.button{
    width: 330px;
    border: 2px solid #6096B4;
    background: #6096B4;
    border-radius: 30px;
    margin-top: 3%;
    padding: 20px;
    font-size: 1.2em;
    color: #151515;
    text-decoration: none;
    font-weight: bold;
}

a{
    text-decoration: none;
}




footer{
    text-align: center;
    background-color: #bfbbbb;
    padding: 20px;
}

@media screen and (max-width:600px) {
    body{
        width: 100%;
    }

    .hangzhou, .qingdao, .rizhao, .shanghai{
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        flex-direction: column;
        row-gap: 20px;
    }

    .box1 {
        width: 100%;
        height: 300px;
        text-align: justify;
        justify-items: center;
    }
    .box2 {
        height: 300px;
        width: 100%;
        text-align: justify;
    }

    .navigation {
        display: flex;
    }

    .menu{
        display: none;
    }

    nav a{
        margin: 5px 0;
    }
}